In [79]:
import numpy as np
import pandas as pd
import os

In [80]:
data=pd.read_csv("Liver_l0.csv")
data["ion_count"]=[ len(str(x).split('|')) for x in data[["values"]].values]

In [81]:
# [x.split('|') for x in data[["values"]].values ]

In [82]:
print(data.shape)
data=data[data.ion_count>=2]
data=data.reset_index(drop=True)
print(data.shape)

(26187, 8)
(15986, 8)

In [83]:
# data.to_csv("Test.csv")

In [84]:
# res=[]
# for i in ([ x.split('|') for x in data[["values"]].values.ravel()]):
#     res+=i
# moverzs=[ (int)(float(x)*10)/10 for x in res]
# moverzs=pd.DataFrame(np.unique(moverzs,return_counts=True)).transpose()
# moverzs.columns=["mz","freq"]
# moverzs=moverzs.sort_values(by="mz")
# moverzs=moverzs[moverzs.freq>100].reset_index(drop=True)
# print(moverzs.shape)
# moverzs.iloc[25:75,:]

In [85]:
res=[]
peps=""
for i in range(data.shape[0]):
    if ("P" in data.peptide[i]):
#         print(data.peptide[i])
        peps+=data.peptide[i]
        res+= [ int(float(x)*10)/10 for x in data["values"][i].split("|")]

In [70]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

       mz    freq
76  149.0    72.0
47  126.0    75.0
12   87.1    80.0
3    74.0    80.0
19   99.7    82.0
61  138.0    83.0
91  158.9    87.0
37  116.0    91.0
13   88.0   103.0
73  147.0   119.0
81  153.1   139.0
40  119.0   145.0
11   87.0   152.0
33  112.6   157.0
54  131.0   159.0
64  141.0   159.0
55  131.1   162.0
84  155.1   174.0
49  128.1   194.0
60  137.0   195.0
68  143.0   223.0
42  121.0   239.0
71  145.0   254.0
93  159.1   266.0
56  132.0   301.0
85  156.0   332.0
36  115.0   348.0
50  129.0   369.0
2    72.0   384.0
1    70.0   401.0
89  158.0   403.0
48  127.0   483.0
26  102.0   575.0
28  104.0   576.0
87  157.0   650.0
65  141.1   691.0
58  133.0   745.0
88  157.1   831.0
69  143.1   890.0
24  101.0   904.0
83  155.0  1015.0
9    84.0  1475.0
10   86.0  1636.0
92  159.0  2319.0
30  110.0  2463.0
52  130.0  2649.0
41  120.0  3641.0
59  136.0  4179.0
51  129.1  4257.0
74  147.1  4313.0

In [16]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

   mz  freq
1   C  1142
18  W  1256
10  M  2020
6   H  2434
19  Y  2962
14  R  3106
11  N  3303
13  Q  3601
4   F  4216
2   D  4589
8   K  4618
16  T  4894
7   I  5210
3   E  5541
15  S  5643
5   G  6725
0   A  6833
17  V  6927
9   L  9366
12  P  9648

In [76]:
res=[]
peps=""
count=0
for i in range(data.shape[0]):
    temp=[ int(float(x)*10)/10 for x in data["values"][i].split("|")]
    if (70.0 in temp) :#and ("P"  not  in data.peptide[i].strip()):
#         print(data.peptide[i])
        peps+=data.peptide[i]
        res+= [ int(float(x)*10)/10 for x in data["values"][i].split("|")]
        count+=1
print(count)

1008

In [77]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

       mz    freq
7    80.4    17.0
6    75.0    17.0
1    69.0    18.0
50  147.0    18.0
40  137.0    18.0
15   91.0    19.0
14   89.0    20.0
26  116.0    21.0
41  138.0    21.0
23  112.0    21.0
36  131.1    22.0
24  113.0    30.0
8    83.0    32.0
35  131.0    32.0
56  155.1    33.0
37  132.0    33.0
29  121.0    39.0
46  143.0    40.0
62  159.1    42.0
12   87.1    43.0
43  141.0    44.0
57  156.0    45.0
48  145.0    54.0
38  133.0    58.0
25  115.0    61.0
32  129.0    67.0
58  157.0    78.0
30  127.0    80.0
44  141.1    80.0
60  158.0    84.0
13   88.0   101.0
55  155.0   102.0
11   87.0   111.0
59  157.1   147.0
47  143.1   149.0
19  102.0   187.0
5    74.0   189.0
20  104.0   206.0
61  159.0   221.0
17  101.0   256.0
34  130.0   444.0
22  110.0   531.0
39  136.0   555.0
51  147.1   613.0
28  120.0   701.0
33  129.1   735.0
3    72.0   818.0
9    84.0   966.0
10   86.0   999.0
2    70.0  1019.0

In [78]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

   mz  freq
1   C    68
18  W    86
6   H   144
10  M   218
19  Y   227
13  Q   229
11  N   232
2   D   318
16  T   383
3   E   403
4   F   404
15  S   435
12  P   467
8   K   493
14  R   514
7   I   522
5   G   584
17  V   733
0   A   734
9   L  1014