In [7]:
import numpy as np
import pandas as pd
import os

In [119]:
data=pd.read_csv("Liver_l0.csv")
data["ion_count"]=[ len(str(x).split('|')) for x in data[["values"]].values]
data.head()

,protein,peptide,charge,moverz,scan,ret,values,ion_count
0,CPSM_MOUSE,DADPILR,2,400.219052,15436,1812.31,70.0658236408718|86.0971621199842|88.040274633...,7
1,CPSM_MOUSE,CGVELFK,2,426.717840,19280,2144.09,70.0658983558495|72.0815148850814|74.060620452...,26
2,CPSM_MOUSE,AMLSTGFK,2,427.725660,16080,1867.41,82.065925539022|86.097230380667|104.0533988038...,7
3,CPSM_MOUSE,AMLSTGFK,2,435.723119,12107,1523.91,70.0659642791318|72.0815642872438|74.060786605...,12
4,CPSM_MOUSE,LFAEAVQK,2,453.258176,13991,1687.63,72.0814825160747|86.0971684426484|120.08146669...,5

In [120]:
# [x.split('|') for x in data[["values"]].values ]

In [121]:
print(data.shape)
data=data[data.ion_count>=2]
data=data.reset_index(drop=True)
print(data.shape)

(26187, 8)
(15986, 8)

In [122]:
# data.to_csv("Test.csv")

In [177]:
# res=[]
# for i in ([ x.split('|') for x in data[["values"]].values.ravel()]):
#     res+=i
# moverzs=[ (int)(float(x)*10)/10 for x in res]
# moverzs=pd.DataFrame(np.unique(moverzs,return_counts=True)).transpose()
# moverzs.columns=["mz","freq"]
# moverzs=moverzs.sort_values(by="mz")
# moverzs=moverzs[moverzs.freq>10].reset_index(drop=True)
# moverzs.iloc[25:75,:]

In [157]:
res=[]
peps=""
for i in range(data.shape[0]):
    if ("H" in data.peptide[i]):
#         print(data.peptide[i])
        peps+=data.peptide[i]
        res+= [ int(float(x)*10)/10 for x in data["values"][i].split("|")]

In [158]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

       mz    freq
72  150.0    65.0
71  149.0    66.0
26  112.0    73.0
11   91.0    73.0
10   89.0    75.0
9    88.0    79.0
7    87.0    94.0
68  147.0    97.0
31  116.0   105.0
15   99.7   119.0
49  131.1   129.0
79  155.1   138.0
0    70.0   139.0
86  158.9   147.0
1    72.0   147.0
55  138.0   165.0
34  119.0   166.0
58  141.0   168.0
48  131.0   168.0
27  112.6   178.0
62  143.0   183.0
30  115.0   193.0
43  128.1   204.0
54  137.0   206.0
88  159.1   236.0
66  145.0   252.0
36  121.0   271.0
50  132.0   278.0
42  127.0   289.0
59  141.1   338.0
44  129.0   347.0
82  157.0   396.0
22  104.0   429.0
84  158.0   487.0
80  156.0   489.0
52  133.0   505.0
20  102.0   518.0
78  155.0   554.0
83  157.1   592.0
18  101.0   646.0
63  143.1   712.0
6    86.0   934.0
5    84.0   962.0
87  159.0  1531.0
35  120.0  2100.0
46  130.0  2364.0
53  136.0  2728.0
24  110.0  2756.0
69  147.1  3005.0
45  129.1  3026.0

In [167]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

   mz  freq
18  W   838
1   C   848
10  M  1280
19  Y  1880
14  R  2029
11  N  2314
4   F  2522
13  Q  2560
8   K  2636
12  P  2836
2   D  3181
16  T  3231
7   I  3283
3   E  3795
15  S  3940
17  V  4549
0   A  4556
5   G  4626
6   H  5543
9   L  5852

In [172]:
res=[]
peps=""
for i in range(data.shape[0]):
    temp=[ int(float(x)*10)/10 for x in data["values"][i].split("|")]
    if (110.0 in temp) and ("H" not in data.peptide[i]):
#         print(data.peptide[i])
        peps+=data.peptide[i]
        res+= [ int(float(x)*10)/10 for x in data["values"][i].split("|")]

In [173]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

       mz    freq
29  105.0    67.0
25  101.1    68.0
32  112.0    75.0
16   89.0    76.0
37  116.0    82.0
17   91.0    83.0
21   99.7    83.0
40  119.0    99.0
48  128.1   101.0
59  137.0   110.0
72  147.0   113.0
53  131.0   117.0
14   87.1   131.0
54  131.1   142.0
63  141.0   144.0
81  155.1   147.0
33  112.6   160.0
82  156.0   160.0
42  121.0   162.0
67  143.0   174.0
70  145.0   178.0
90  159.1   181.0
2    74.0   197.0
15   88.0   198.0
55  132.0   202.0
36  115.0   270.0
13   87.0   282.0
46  127.0   328.0
64  141.1   336.0
84  157.0   344.0
86  158.0   359.0
0    70.0   400.0
49  129.0   428.0
80  155.0   474.0
1    72.0   489.0
57  133.0   520.0
85  157.1   537.0
68  143.1   628.0
28  104.0   796.0
26  102.0   883.0
89  159.0  1353.0
24  101.0  1379.0
12   86.0  1753.0
51  130.0  2117.0
10   84.0  2202.0
73  147.1  2651.0
41  120.0  2824.0
58  136.0  2828.0
50  129.1  3103.0
30  110.0  3602.0

In [174]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq")
temp.tail(50)

   mz  freq
17  W   449
1   C   545
9   M  1006
18  Y  1245
4   F  1530
10  N  1643
13  R  1745
11  P  1891
12  Q  1903
6   I  2133
2   D  2141
15  T  2228
7   K  2301
14  S  2696
5   G  2845
16  V  2933
3   E  3070
0   A  3497
8   L  4058

In [176]:
temp.freq.sum()

39859